<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ratingsoft">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/login1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BaixoMinhoLeagueSinActionBar"
        tools:targetApi="31">
        <activity
            android:name=".data.ListaCursosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Perfil.Configuracion"
            android:exported="false"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.login.ResetPassword"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NuevoEvento"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.Perfil.AddPlayerAndTournament"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Users.DetailJugador"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BaixoMinhoLeagueStartingSinActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>